body{

    background-color: #1d2127;
    color: white;
    font-family: "Overpass Mono", "Helvetica Neue", Helvetica, sans-serif;
    padding:    0;
    margin:     0;

}

h1{
    margin: 0 9 0 8px;
}
.bar{
    background-color: #575858;
    padding: 10px;
    display: flex;


}

.logo{
    width: 50px;
    height: 50px;
}
.container{
    margin-top: 30px;
    padding: 0 60px 0 60px;
}

.post{
    background-color: #282c34;
    margin-bottom: 15px;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
}

.post h4{
    color: #98c379;

}

.post span{
    color: #61afef;
}